<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <title>Details on Book</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Sirin+Stencil" rel="stylesheet">
  <link rel="stylesheet" href="/styles/base.css" />
</head>

<body>

  <main>
    <h2>Book Details</h2>
    <section>
   
<section class="detail-container">
      <img src="<%= book.image %>">
      <p>Title: <%= data.title %></p>
      <p>Author: <%= data.author %></p>
      <p>Description: <%= data.summary %></p>
      <p>ISBN: <%= data.isbn %></p>
    </section>
   
  
    </section>

  </main>

</body>

</html>